:root{
        
        --primary-color: rgb(26, 29, 223);
}
*{margin: 0;
    padding: 0;
    
    }
    *:after,
    *:before {
        box-sizing: border-box;
        margin-top: 0;
    }
    
    html {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    a {
        padding: 0;
        margin: 0;
        text-decoration: none;
        color: #333;
    }
    body
    {   
        margin: 0;
        font-family: 'Castoro', serif;
        color: #333;
        line-height: 1.6;
    }
    /* navbar */
    h2{
        font-weight: 300;
        line-height: 1.2;
        margin: 10px 0;
    }
    p{
        margin: 10px 0;
    }
    img{
        width: 100%;
    }
    .logo{
        cursor: pointer;
        font-size: 30px;
    }
    .navbar{
        background-color: var(--primary-color);
        color: aqua;
        height: 70px;
    }
    .navbar ul{
        display: flex;
    }
    .navbar a{
        color: white;
        padding: 10px;
        max-resolution: 0 5px;
        font-size: 20px;
    }
    .navbar a:hover{
        border-bottom: 2px #fff solid;
    }
    .navbar .flex{
        justify-content: space-between;
    }   
    .container{
        max-width: 1100px;
        margin: 0 auto;
        overflow: auto;
        padding: 0 40px;
    }
    .flex{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    /* Showcase Area */
    .showcase{
        height: 400px;
        background-color: var(--primary-color);
        color: #fff;
        position: relative;
    }
    .showcase h1{
        font-size: 40px;
    }
    .showcase p{
        margin: 20px 0;
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .showcase .grid{
        grid-template-columns: 55% 45%;
        gap: 30px;
        overflow: visible;
    }
    .card{
        background-color: white;
        border-radius: 5%;
        box-shadow: 0 3px 10px rgb(red, green, blue);
        padding: 20px;
        margin: 10px;
        color: #333;
    }
    .showcase-form{
        position: relative;
        top: 60px;
        height: 350px;
        width: 400px;
    }