:root {
  --primary-color: rgb(26, 29, 223);
}
* {
  margin: 0;
  padding: 0;
}
*:after,
*:before {
  box-sizing: border-box;
  margin-top: 0;
}

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #333;
}
body {
  margin: 0;
  font-family: "Castoro", serif;
  color: #333;
  line-height: 1.6;
}
/* navbar */
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}
p {
  margin: 10px 0;
}
img {
  width: 100%;
}
.logo {
  cursor: pointer;
  font-size: 30px;
}
.navbar {
  background-color: var(--primary-color);
  color: aqua;
  height: 70px;
}
.navbar ul {
  display: flex;
}
.navbar a {
  color: white;
  padding: 10px;
  max-resolution: 0 5px;
  font-size: 20px;
}
.navbar a:hover {
  border-bottom: 2px #fff solid;
}
.navbar .flex {
  justify-content: space-between;
}

/* Showcase Area */
.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}
.showcase h1 {
  font-size: 40px;
}
.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  grid-template-columns: 55% 45%;
  gap: 30px;
  overflow: visible;
}
.showcase-form {
  position: relative;
  top: 60px;
  height: 300px;
  width: 400px;
  padding: 40px;
  z-index: 100;
}
.showcase-form .form-control {
  margin: 30px 0;
}
.btn {
  background-color: rgb(34, 226, 60);
  padding: 10px 30px;
  cursor: pointer;
  font-weight: 700;
  border: none;
  border-radius: 5px;
}

.form-control input {
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.showcase::before,
.showcase::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}

/* stats */
.stats {
  padding-top: 100px;
}
/* .stats-heading {
  max-width: 600px;
 margin: 0 auto;
} */
.stats .grid h3 {
  font-size: 35px;
}
.stats .grid p {
  font-size: 20px;
  font-weight: 700;
}
/* cli */
.cli .grid{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
}
.cli .grid > *:first-child{
    grid-column: 1/span 2;
    grid-row: 1/ span 2;
}

/* cloud */

